__pycache__/
**/__pycache__/
prerequisites/
demo_edited.mp4
output.zip
output/
output_console_based.zip
output_consoleless.zip
output.rar
GUI/ver.text
تصاريح/
تمامات/
يوميات_تحركات/
Secretary_V1.3.zip
Secretary_V1.3/
Secretary_V1.9.zip
